<div class="container-fluid my-3">
    <div>
        <form [formGroup]="goldPurchaseForm" (ngSubmit)="save()">
            <div formArrayName="items">
                @for (item of items.controls; track $index) {
                    <div [formGroupName]="$index">
                        <div class="form-group row">
                            <mat-form-field class="col-sm-6 col-md-4 my-2">
                                <mat-label>Item Name</mat-label>
                                <input matInput id="itemPurchase" [formControlName]="'itemPurchase'" placeholder="Enter item purchased">
                                
                                    @if (item.get('itemPurchase')?.errors?.['required']) {
                                        <mat-error>*Please enter purchased item</mat-error>
                                    }
                                    @else if (item.get('itemPurchase')?.errors?.['pattern']) {
                                        <mat-error>*Special characters are not allowed</mat-error>
                                    }
                            </mat-form-field>
                            <mat-form-field class="col-sm-6 col-md-2 my-2">
                                <mat-label>Item HUID</mat-label>
                                <input matInput id="HUID_number" formControlName="HUID" placeholder="Enter Hallmark ID">
                                
                                    @if (item.get('HUID')?.errors?.['required']) {
                                        <mat-error>*Please enter HallMark ID</mat-error>
                                    }
                                    @else if (item.get('HUID')?.errors?.['pattern']) {
                                        <mat-error>*Special characters are not allowed</mat-error>
                                    }
                            </mat-form-field>
                            <mat-form-field class="col-sm-6 col-md-2 my-2">
                                <mat-label>Item Weight</mat-label>
                                <input matInput id="weight" formControlName="weight" placeholder="Enter Item weight" (change)="calculatePrice($any($event).target.value)" />
                                    @if (item.get('weight')?.errors?.['required']) {
                                        <mat-error>*Please enter gold weight</mat-error>
                                    }
                            </mat-form-field>
                            <mat-form-field class="col-sm-6 col-md-2 my-2">
                                <mat-label>Select Material</mat-label>
                                <mat-select (selectionChange)="calculatePrice($any($event).value)" formControlName="materialtype">
                                        @for (material of materialType; track material) {
                                            <mat-option [value]="material">{{ material }}</mat-option>
                                        }
                                </mat-select>
                                @if (item.get('materialtype')?.errors?.['required']) {
                                        <mat-error>*Please select jewellery material</mat-error>
                                    }
                            </mat-form-field>
                            <mat-form-field class="col-sm-6 col-md-2 my-2">
                                <input matInput id="price" [value]=" item.get('price')?.value | currency:'INR'" placeholder="Item Price" disabled readonly/>
                            </mat-form-field>
                        </div>
                    </div>
                }
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary mt-3 px-3 me-2" (click)="addNewItem()">Add more items</button>
                    <button type="button" class="btn btn-danger mt-3 px-3" (click)="removeItems()" [disabled]="!removeBtn">Remove items</button>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <mat-form-field class="col-sm-6 col-md-3 my-2">
                        <input matInput id="urd" formControlName="URD" placeholder="Lesss URD" (change)="finalPrice()"/>
                    </mat-form-field>
                    <mat-form-field class="col-sm-6 col-md-3 my-2">
                        <input matInput id="discount" formControlName="discount" placeholder="Discount" (change)="finalPrice()"/>
                    </mat-form-field>
                </div>
                <mat-radio-group formControlName="payment" aria-label="Select payment mode">
                    <label>Payment: </label>
                    <mat-radio-button value="cash">Cash</mat-radio-button>
                    <mat-radio-button value="online">Cheque/Card/UPI</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="row mt-3">                            
                <div class="col-md-6 d-flex justify-content-start align-items-center">
                    <h5>Total Price: {{totalPrice |currency:'INR'}}</h5>
                    <input type="hidden" class="form-control" id="finalPrice" formControlName="finalPrice" placeholder="finalPrice"/>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                    <button type="submit" class="btn btn-primary mt-3 px-3" [disabled]="!goldPurchaseForm.valid">Generate Receipt</button>
                </div>
            </div>
        </form>
    </div>
</div>
